version: 2
jobs:
  sync_bot:
    docker:
      - image: ruby:2.3.6
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: develop
    steps:
      - checkout
      - run: gem install bundler -v '~> 1.17.0'
      - run:
          name: Which bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - duke-data-service-bundle-{{ checksum "Gemfile.lock" }}
            - duke-data-service-bundle-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: duke-data-service-bundle-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Which Branch?
          command: echo ${CIRCLE_BRANCH}

      - run:
          name: Sync Bot
          command: MERGE_FROM=${CIRCLE_BRANCH} bundle exec bin/bots/sync_pr.rb

  build:
    parallelism: 4
    environment:
      LOCALDEV: true
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      DDSURL: http://0.0.0.0:3001
      BONSAI_URL: elastic.local:9200
      CLOUDAMQP_URL: amqp://rabbitmq.local:5672
      GRAPHENEDB_URL: http://neo4j.db.host:7474
      OPENID_CLIENT_ID: test
      OPENID_CLIENT_SECRET: testpass
      OPENID_URL: http://oit.oauth.edu

    docker:
      # Copied from rails circle demo
      - image: ruby:2.3.6
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_ruby_test
          POSTGRES_PASSWORD: ""
      - image: elasticsearch:5.4.3
        environment:
          ES_JAVA_OPTS: "-Xms512m -Xmx512m"
        command: elasticsearch -E 'action.auto_create_index=false'
      - image: neo4j:3.0.2
        environment:
          NEO4J_AUTH: none
      - image: rabbitmq:3.5-management

    steps:
      - checkout
      - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run: chmod +x docker/includes/install_node.sh
      - run: mkdir -p /root/installs
      - run:
          name: Install Node
          command: docker/includes/install_node.sh
          environment:
            LATEST_NODE: node-v0.12.7-linux-x64
            LATEST_NODE_URL: https://nodejs.org/dist/v0.12.7/node-v0.12.7-linux-x64.tar.gz
      - run:
          name: install dockerize
          command: wget https://circle-downloads.s3.amazonaws.com/circleci-images/cache/linux-amd64/dockerize-latest.tar.gz && tar -C /usr/local/bin -xzvf dockerize-latest.tar.gz && rm dockerize-latest.tar.gz

      - run:
          name: Set hostnames for external services
          command: |-
            printf '0.0.0.0       swift.local
            0.0.0.0       neo4j.db.host
            0.0.0.0       elastic.local
            0.0.0.0       rabbitmq.local
            ' | tee -a /etc/hosts

      - run: gem install bundler -v '~> 1.17.0'
      - run:
          name: Which bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - duke-data-service-bundle-{{ checksum "Gemfile.lock" }}
            - duke-data-service-bundle-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: duke-data-service-bundle-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Wait for Elasticsearch
          command: dockerize -wait tcp://localhost:9200 -timeout 1m

      - run:
          name: Wait for Neo4j
          command: dockerize -wait tcp://localhost:7474 -timeout 1m

      - run:
          name: Wait for RabbitMQ
          command: dockerize -wait tcp://localhost:5672 -timeout 1m

      - run: |-
          mkdir -p config && echo 'test:
            database: circle_ruby_test
            username: ubuntu
            pool: 5
            encoding: unicode
            adapter: postgresql
            host: localhost
          ' > config/database.yml

      - run:
          name: Database setup
          command: bin/rails db:schema:load --trace

      - run:
          name: Load neo4j schema
          command: bundle exec rake neo4j:schema:load --trace

      # Run rspec in parallel
      - type: shell
        command: |
          some_tests=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings) && \
          echo Running tests from: ${some_tests} && \
          bundle exec rspec --profile 10 \
                            --format RspecJunitFormatter \
                            --out $CIRCLE_TEST_REPORTS/rspec.xml \
                            --format progress \
                            ${some_tests}

      # Save test results for timing analysis'
      - store_test_results:
          path: /tmp/circleci-test-results
      # Save artifacts
      - store_artifacts:
          path: /tmp/circleci-artifacts
      - store_artifacts:
          path: /tmp/circleci-test-results
  deploy:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: Ensure heroku app name variable is set
          command: .circleci/heroku-app-name.sh
      - run:
          name: Store current heroku config
          command: |
            heroku config --shell -a "$(.circleci/heroku-app-name.sh)" | cut -d= -f1 | tee /tmp/heroku-config-var-names
      - run:
          name: Required heroku config vars
          command: cat .circleci/required-config-var-names
      - run:
          name: Ensure required heroku config vars are set
          command: |
            ! grep -Fvxf /tmp/heroku-config-var-names .circleci/required-config-var-names
      - run: heroku maintenance:on --app "$(.circleci/heroku-app-name.sh)"
      - run:
          name: Deploy to Heroku
          command: |
            git push "https://heroku:$HEROKU_API_KEY@git.heroku.com/$(.circleci/heroku-app-name.sh).git" HEAD:master
      - run: heroku run --exit-code rake db:migrate --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku run --exit-code rake neo4j:schema:load --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku run --exit-code rake db:seed --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku run --exit-code rake db:data:migrate --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku run --exit-code rake elasticsearch:index:rebuild --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku config:unset RECREATE_SEARCH_MAPPINGS --app "$(.circleci/heroku-app-name.sh)"
      - run: heroku maintenance:off --app "$(.circleci/heroku-app-name.sh)"

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - develop
                - ua_test
                - production
  sync:
    jobs:
      - sync_bot:
          context: sync_bot
          filters:
            branches:
              only:
                - production
